mat-toolbar {
  height: 100%;
  display: flex;
  justify-content: space-between;

  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
  0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

mat-toolbar > span{
}

mat-toolbar > span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;

  span {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

img {
  margin-left: 5%;
  margin-right: 5%;
  vertical-align: middle;
  height: 120%;
}

mat-toolbar > button {
  flex-shrink: 1;
}
