<mat-card>
  <mat-card-header>
    <mat-card-title>Nom du cours sélectionné</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Nom du cours</mat-label>
        <input matInput
               type="text"
               name="nom"
               required
               [(ngModel)]="selectedCourse.name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description du cours</mat-label>
        <input matInput
               type="text"
               name="description"
               [(ngModel)]="selectedCourse.description">
      </mat-form-field>

      <label>Pourcentage completé {{selectedCourse.percentageComplete}} %</label>
      <mat-slider thumbLabel
                  min="0"
                  max="100"
                  name="percentComplete"
                  [(ngModel)]="selectedCourse.percentageComplete">
      </mat-slider>

      <mat-checkbox color="warn"
                    [(ngModel)]="selectedCourse.favorite"
                    name="favori">
        Favorite
      </mat-checkbox>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button mat-line>
      Submit
    </button>
  </mat-card-actions>
</mat-card>
