<mat-card>
  <mat-card-header>
    <span *ngIf="selectedCourse.name; else elseBlock">{{originalTitle}}</span>
    <ng-template #elseBlock>
      <span class="header-span">
        Select a course
      </span>
    </ng-template>
  </mat-card-header>
  <form #form="ngForm" (submit)="submitCourse.emit(selectedCourse)">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Nom du cours</mat-label>
        <input
          matInput
          type="text"
          name="nom"
          required
          [(ngModel)]="selectedCourse.name"
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description du cours</mat-label>
        <input
          matInput
          type="text"
          name="description"
          [(ngModel)]="selectedCourse.description"
        >
      </mat-form-field>

      <label for="percentComplete">Pourcentage completé : {{selectedCourse.percentageComplete}} %</label>
      <mat-slider
        thumbLabel
        min="0"
        max="100"
        name="percentComplete"
        id="percentComplete"
        title="percentComplete"
        [(ngModel)]="selectedCourse.percentageComplete"
      >
      </mat-slider>
      <mat-checkbox
        color="primary"
        [(ngModel)]="selectedCourse.favorite"
        name="favori"
      >
        Favorite
      </mat-checkbox>

    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="form.invalid" type="submit" mat-button>
        Submit
      </button>
      <button type="button" mat-button (click)="resetSelectedCourse.emit(selectedCourse)">
        Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>
